<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }} | Notes" href="{{ '/notes/feed.xml' | relative_url }}" />
    {%- seo -%}
  </head>
  <body class="layout-{{ page.layout }}">
    <header>
      <div class="container">
        <nav>
          <ul>
            <li>
              <a href="{{ "/" | relative_url }}"><strong>{{ site.title }}</strong></a>
            </li>
          </ul>
          <ul>
            {% for link in site.data.navigation.main %}
            <li>
              <a href="{{ link.url | relative_url }}" rel="permalink" class="secondary">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
    <main class="container">

      {{ content }}

    </main>
    <footer>
      <div class="container">
        <section></section>
        <section>
          <p>{{ site.footer.copyright }}</p>
        </section>
      </div>
    </footer>
  </body>
</html>
