---
layout: default
---

<section class="page-block">
    <div class="intro-box">
      <div class="intro-content">
        <img src="{{ site.avatar | default: '/assets/img/default-avatar.jpg' | relative_url }}" alt="{{ site.title }}'s avatar" />
        <div class="intro-text">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>
</section>

<section class="page-block recent-posts">
    <h2>All posts</h2>

    <ul>
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <small>{{ post.date | date: "%B %d, %Y" }}</small>
      </li>
      {% endfor %}
    </ul>
</section>
